* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center; */
  font-family: sans-serif;
}

.flex-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  background: linear-gradient(#8e73c2, #5675b6);
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: rgb(255,255,255, 0.3);
  margin: 30px;
  padding: 30px;
  line-height: 30px;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
}

.card h2 {
  color: white;
  margin: 30px 0;
  text-transform: uppercase;
  text-shadow: 0 0 5px grey;
}

.card p {
  margin: 30px 0;
  line-height: 20px;
}


@media (max-width: 800px) {
  .flex-container {
    height: 100%;
    flex-direction: column;
  }
  .card {
    width: 80%;
  }
}
