* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background: rgb(65, 179,114,1);
}

.wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat (6, 1fr);
  margin-left: 100px;
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 30px;
  gap: 20px;
  grid-auto-rows: repeat (6, 1fr);
  grid-template-areas:
      "hw1 hw1 hw1 hw1 hw3 hw3"
      "hw1 hw1 hw1 hw1 hw3 hw3"
      "hw1 hw1 hw1 hw1 hw4 hw4"
      "hw2 hw2 hw2 hw2 hw5 hw5"
      "hw2 hw2 hw2 hw2 hw6 hw6"
      "hw2 hw2 hw2 hw2 hw7 hw7";
}
.card{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgb(255,255,255, 1);
  margin: 0 auto;
}
.card img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card h2 {
  color: rgb(51, 51, 51, 1);
  margin: auto 20px;
  font-size: 25px;
  text-align: left;
}

.card p {
  line-height: 20px;
  color: rgb(102, 102, 102, 1);
  margin:auto 20px;
  font-size: 15px;
  text-align: justify;
}

.card ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
}

.card ul li {
  color: rgb(102, 102, 102, 1);
  font-size: 13px;
  opacity: 0.75;
}
.one {
  grid-area: hw1;
}
.two {
  grid-area: hw2;
}
.three {
  grid-area: hw3;
}
.four {
  grid-area: hw4;
}
.five {
  grid-area: hw5;
}
.six {
  grid-area: hw6;
}
.seven {
  grid-area: hw7;
}

@media (max-width: 321px) {
  .wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow:column wrap;
    margin: 3px;
    padding: auto;
  }
  .card {
    width: 100%;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 323px) and (max-width: 960px) {
  .wrapper{
    margin: 20px 40px;;
    padding: auto;
  }
}
